<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently an ML and NLP Researcher at the <a class="underline-link" href="https://www.sheffield.ac.uk/" target="_blank">University of Sheffield</a>, focusing on natural language processing, audio pmodelling, and speech technology. I recently graduated from the University of Sheffield after completing two remarkable research internships at the <a class="underline-link" href="https://www.voicebase.com/" target="_blank">VoiceBase Centre</a> and <a class="underline-link" href="https://automatedanalytics.co/" target="_blank">Automated Analytics</a>.
    </p>

    <p>
      As a researcher, I strive to bridge the gap between academia and industry, combining my technical expertise with a practical approach to machine learning applications. My goal is to build applications that are both scalable and efficient while providing novel and theoretical insights.
    </p>

    <p>
      When I'm not in front of a computer screen, I'm fully immersed in volleyball. I was a national volleyball player, competing in the Super League, the highest league in the UK.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
