<section class="section project">
  <div class="section__title">Publishment</div>
  <div class="section__content">
    {% for publishment in site.data.publishment %}
    <div class="project">
      <div class="project__name">
        <a href="{{publishment.url}}" target="_blank" class="arrow-link">{{publishment.name}}</a>
      </div>
      <p>{{publishment.description}}</p>
      <div class="project__used">
        {% for item in publishment.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
